<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Haramb-E</title>
      </head>
  <body>
    <iframe src="//192.168.43.114:8080/video_feed">
    </iframe>
    <h1>Haramb-E Project!</h1>
    <script
      src="/js/jq.min.js"></script>
    <script type="text/javascript">
    function httpGet(theUrl){

          return xmlHttp.responseText;
    }
    $(document).ready(function () {
      $('body').on('keydown keyup',function(e){
        var pressed = e.type=="keydown" ? 1 : 0 ;
	console.log(pressed)
        if (pressed){
          var dir;
	  console.log(dir)
          if (e.keyCode == 38){
            dir = "fwd";
          } else if (e.keyCode == 40){
            dir = "bwd";
          } else if (e.keyCode == 37){
            dir = "left"
          } else if (e.keyCode == 39){
            dir = "right";
          }
	  $.ajax({
	    type: "GET",
	    url:"/"+dir,
	    success: function(data) {
                console.log("success: " + data)
            }
 	  })
        }
        else {
            $.ajax({
	        type: "GET",
	        url: "/stop",
	        success: function(data) {
		    console.log(data)
		}
            })
	}
        // httpGet("/" + dir);
      });

    });

    </script>
  </body>
</html>
